@import "../styles/fonts";
@import "../styles/dimens";

body {
  font-size: $default-text-size;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $default-font;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .chevron-left:after {
    font-icon: url('fonts/icons/chevron_left.svg');
    font-weight: bold;
  }

  .external-link {
    padding-left: 0.3em;
    padding-right: 0.2ex;
    vertical-align: middle;
  }

  .external-link:after {
    font-icon: url('fonts/icons/external_link.svg');
  }
}