@import "bourbon";
@import '../styles/utils';
@import '../styles/dimens';

$sunset-colors: (
  #15407A, #15407A, #15407A,
  #1A457E, #214F85, #2B598A,
  #37638A, #476C87, #617785,
  #798386, #8A8982, #A19279,
  #BF9B6D, #D79E5E, #E89943,
  //#F5942B, #FB8118
);

@function process-colors($cs) {
  $newCS: ();
  @each $c in $cs {
    $newCS: append($newCS, tint(darken($c, 15%), 20%), comma)
  }
  @return $newCS
}

:local(.container) {
  > .inner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    &.Sunset {
      @include background-image(
                  linear-gradient(to bottom, process-colors($sunset-colors)));
    }
    &.NYC {
      @include background-image(url('../../static/backgrounds/NYC.jpg'));
    }
  }
}