@import "bourbon";
@import "../styles/utils";

$bg-color: #F6F6F6;
$nav-bg-color: #b7b6ac;
$top-bar-height: 20px;
$nav-height: 38px;
$dashboard-icon-size: 52px;
$list-item-icon-size: 32px;

:local(.container) {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: $bg-color;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-bar, .nav {
    background-color: $nav-bg-color;
    @include no-select();
  }

  .top-bar {
    font-size: 10px;
    font-weight: 500;
    height: $top-bar-height;
    line-height: $top-bar-height;
    display: flex;
    padding: 0 6px;
    i {
      margin-left: 3px;
    }
    .network, .battery {
      width: 30%;
    }
    .network {
      display: flex;
      i {
        font-size: 12px;
        line-height: 22px;
      }
    }
    .time {
      flex: 1 1;
      text-align: center;
    }
    .battery {
      * {
        float: right;
      }
      i {
        font-size: 14px;
        line-height: $top-bar-height;
      }
    }
  }

  .nav {
    font-size: 15px;
    height: $nav-height;
    background-color: $nav-bg-color;
    border-bottom: thin solid darken($nav-bg-color, 9%);
    h1 {
      text-align: center;
      margin: 0;
      font-size: inherit;
      line-height: $nav-height;
    }
  }

  .content {
    height: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .content::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: $bg-color;
    width: 10px;
  }

  .dashboard {
    @include no-select();
    .section {
      margin: 25px 0 10px 0;
      .title {
        font-size: 13px;
        line-height: 10px;
        margin: 10px 0;
        color: #222;
      }
      .title::before {
        content: '\00a0';
      }
      .title::after {
        content: '';
        display: block;
        @include background-image(linear-gradient(to right, rgba(150, 150, 150, 1), rgba(150, 150, 150, 0)));
        height: 1px;
        width: 100%;
      }
      .items {
        display: flex;
        margin-left: 18px;
        cursor: pointer;
        .item {
          text-decoration: none;
          display: inline-block;
          margin-right: 36px;
          .icon {
            width: $dashboard-icon-size;
            height: $dashboard-icon-size;
            border-radius: 4px;
            display: block;
          }
          .name {
            text-align: center;
            font-size: 13px;
            color: #222;
            font-weight: 700;
          }
          opacity: 0.88;
        }
        .item:hover {
          @include filter(brightness(1.1));
          opacity: 1;
        }
        .item:active {
          @include filter(brightness(0.9));
        }
      }
    }
  }

  .list {
    height: 100%;
    .item {
      padding: 8px;
      margin-bottom: 8px;
      display: flex;
      background-color: white;
      border: thin solid #DDD;
      border-radius: 4px;
      .icon {
        width: $list-item-icon-size;
        height: $list-item-icon-size;
        border-radius: 2px;
        display: block;
        margin-right: 10px;
      }
      .name {
        line-height: $list-item-icon-size;
      }
    }
  }
}