.idea
**/node_modules
*.log
server/build
server/.env
server/stats.json
server/.env
server/test/e2e/reports
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
**/.DS_Store