@import "../../styles/utils";
@import "../../styles/fonts";
@import "../../styles/colors";

$top-bar-height: 20px;


.mobile-scroll-area {
  padding: 10px;
}

:local(.container) {
  font-family: $apple-font;
  background-color: $mobile-bg-color;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-bar, .nav {
    background-color: $mobile-nav-bg-color;
    @include no-select();
  }

  .top-bar {
    font-size: 10px;
    font-weight: 500;
    height: $top-bar-height;
    line-height: $top-bar-height;
    display: flex;
    padding: 0 6px;
    i {
      margin-left: 3px;
    }
    .network, .battery {
      width: 30%;
    }
    .network {
      display: flex;
      i {
        font-size: 12px;
        line-height: 22px;
      }
    }
    .time {
      flex: 1 1;
      text-align: center;
    }
    .battery {
      * {
        float: right;
      }
      i {
        font-size: 14px;
        line-height: $top-bar-height;
      }
    }
  }
}