@import "../../styles/fonts";
@import "../../styles/colors";

.mobile-scroll-area {
  padding: 10px;
}

:local(.container) {
  font-family: $apple-font;
  background-color: $mobile-bg-color;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

:local(.homeScreenNav) {
  background-color: transparent !important;
  color: white !important;
  font-weight: 400 !important;
  position: absolute;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
}