<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ken Fehling</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css?v=1234">
</head>
<body>
    <%= htmlWebpackPlugin.options.body %>
    <script src="/static/client.js"></script>
</body>
</html>