<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Website">
<head>
    <meta charset="UTF-8">
    <%= htmlWebpackPlugin.options.head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,400i,500,700" rel="stylesheet">
</head>
<body>
    <div id="root"><%= htmlWebpackPlugin.options.body %></div>
    <script src="/static/client.js"></script>
</body>
</html>