:local(.content-container) {
  height: 100%;
  overflow: hidden;

  .scroll-area {
    width: 100%;
    overflow: auto;
  }

  .default-back {
    color: #3366FF;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    > div {
      display: flex;
    }
    i {
      padding-right: 5px;
    }
  }

  .transition-group {
    height: 100%;
    width: 200%;
    > * {
      width: 50%;
    }
  }

  .content-enter, .content-leave, .content-enter-active, .content-leave-active {
    width: 50%;
    float: left;
  }

  .content-enter-active, .content-leave-active {
    transition: all 1s;
    width: 50%;
    float: left;
  }

  .load {
    .content-leave-active, .content-enter-active {
      transition: all 0.01s;
    }
    .content-leave {
      transform: translate(-100%, 0);
    }
    .content-leave.content-leave-active {
      transform: translate(-200%, 0);
    }
    .content-enter {
      transform: translate(100%, 0);
    }
    .content-enter.content-enter-active {
      transform: translate(0, 0);
    }
  }

  .push {
    .content-leave {
      transform: translate(-100%, 0);
    }
    .content-leave.content-leave-active {
      transform: translate(-200%, 0);
    }
    .content-enter {
      transform: translate(100%, 0);
    }
    .content-enter.content-enter-active {
      transform: translate(0, 0);
    }
  }

  .pop, .top {
    .content-leave {
      transform: translate(-100%, 0);
    }
    .content-leave.content-leave-active {
      transform: translate(0, 0);
    }
    .content-enter {
      transform: translate(-100%, 0);
    }
    .content-enter.content-enter-active {
      transform: translate(0, 0);
    }
  }
}