$tools-bg-color: #F2F1F0;
$item-bg-color: #FCFBFC;
$details-bg-color: #FFF;
$border-darken: 15%;
$tool-border-color: thin solid darken($item-bg-color, $border-darken);
$link-color: #007fd3;

$default-mobile-bg-color: #F2F2F2;
$mobile-nav-bg-color: #F8F8F8; //#b7b6ac;