$tools-bg-color: #F2F1F0;
$item-bg-color: #FCFBFC;
$details-bg-color: #FFF;
$border-darken: 15%;
$tool-border-color: thin solid darken($item-bg-color, $border-darken);
$link-color: #007fd3;

$desktop-window-bg-color-top: #CCC;
$desktop-window-bg-color-bottom: #A6A6A6;
$desktop-window-title-color: #222;
$desktop-menu-bg-color-1: #F2F2F2;
$desktop-menu-bg-color-2: #E9E9E9;
$desktop-menu-fg-color: #222;
$desktop-menu-border-color: #444;
$desktop-menu-active-bg-color: #0369e2;


$desktop-tools-bg-color: #F2F2F2;
$desktop-tools-item-bg-color: #FCFBFC;

$default-mobile-bg-color: #F2F2F2;
$mobile-home-screen-fg-color: #EEE;
$mobile-nav-bg-color: #F8F8F8; //#b7b6ac;
$mobile-nav-border-color: darken($mobile-nav-bg-color, 7%);

$error-color: #E00;