$tools-bg-color: #F2F1F0;
$item-bg-color: #FCFBFC;
$details-bg-color: #FFF;
$border-darken: 15%;
$tool-border-color: thin solid darken($item-bg-color, $border-darken);
$link-color: #007fd3;

$desktop-window-bg-color-top: #CCC;
$desktop-window-bg-color-bottom: #999;
$desktop-window-title-color: #222;
$desktop-menu-bg-color: #F2F2F2;
$desktop-menu-fg-color: #222;
$desktop-menu-border-color: #555;
$desktop-menu-active-bg-color: $link-color;


$desktop-tools-bg-color: #F2F1F0;
$desktop-tools-item-bg-color: #FCFBFC;

$default-mobile-bg-color: #F2F2F2;
$mobile-nav-bg-color: #F8F8F8; //#b7b6ac;
$mobile-nav-border-color: darken($mobile-nav-bg-color, 7%);

$error-color: #E00;