$desktop-frame-width: 5px;
$desktop-menu-height: 26px;
$title-weight: 700;
$icon-size: 56px;
$detail-icon-size: 36px;
$tools-star-size: 12px;
$details-star-size: 16px;

$small-text-size: 0.91667em;   // 11 on OS X
$default-text-size: 1em;       // 12 on OS X
$medium-text-size: 1.08333em;  // 13 on OS X
$large-text-size: 1.16667em;   // 14 on OS X
$title-size: 1.25em;           // 15 on OS X
$x-large-text-size: 1.33333em; // 16 on OS X

$body-line-height: 1.45em