@import './colors';

@mixin link-style($font-weight: 600) {
  a {
    color: $link-color;
    font-weight: $font-weight;
    cursor: pointer;
    text-decoration: none;
    * {
      font-weight: inherit;
    }
  }
  a:hover, a:hover * {
    color: lighten($link-color, 15%);
  }

  a:active, a:active * {
    color: #ff795e;
  }
}