:local(.content-container) {
  overflow: hidden;

  .transition-group {
    width: 200%;
    > * {
      width: 50%;
    }
  }

  .tool-enter {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-enter.tool-enter-active {
    &.tools {
      transform: translate(0, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }

  .tool-leave {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(-100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-leave.tool-leave-active {
    &.tools {
      transform: translate(-200%, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }

  /* When one details is replacing another details */
  .details + .tool-leave.details {
    transform: translate(-100%, 0);
  }
  .details + .tool-leave.tool-leave-active.details {
    transform: translate(-200%, 0);
  }

  .back {
    .tool-leave.details {
      transform: translate(-100%, 0);
    }
    .tool-leave.tool-leave-active.details {
      transform: translate(0, 0);
    }
    .tool-enter.details {
      transform: translate(-100%, 0);
    }
    .tool-enter.tool-enter-active.details {
      transform: translate(0, 0);
    }
  }
}