@import "../styles/utils";

:local(.container) {
  @include no-select();
  margin: auto;
  width: 90%;
  .controls {
    width: 96%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    i.fa {
      display: block;
      flex: 1;
      font-size: 1.5rem;
      cursor: pointer;
    }
    i.fa:active {
      opacity: 0.5;
    }
  }
  .current-track {
    width: 90%;
    margin: 10px auto;
  }
  .time-slider {
    padding: 5%;
    .rc-slider {
      background-color: #03C;
      cursor: pointer;
    }
    .rc-slider-track {
      background-color: #36F;
    }
  }
  .time {
    margin: 10px auto;
    text-align: center;
  }
}