.godar-enter {
    transform: translate(100%, 0);
    opacity: 0;
}

.godar-enter.godar-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: opacity 6s ease-in-out;
}

.godar-leave {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.godar-leave.godar-leave-active {
    opacity: 0;
}