@import "bourbon";

$icon-size: 56px;
$detail-icon-size: 36px;
$star-size: 12px;
$tools-bg: #F2F1F0;
$item-bg: #FCFBFB;
$border-darken: 15%;
$title-size: 14px;
$title-weight: 700;
$header-top-color: #9650a1;
$header-bottom-color: #a42d95;

:local(.container) {
  font-family: Helvetica, sans-serif;
  width: 100%;

  .header {
    @include background-image(linear-gradient(to bottom, $header-top-color, $header-bottom-color));
    color: $item-bg;
    padding: 10px 0;
    .title {
      padding: 10px 0;
      font-weight: $title-weight;
      font-size: $title-size;
      text-align: center;
    }
    .categories {
      padding-left: 9px;
      display: flex;
      > div {
        padding: 3px 6px;
        margin-right: 3px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &.current {
          background-color: $item-bg;
          border-radius: 2px;
          color: $header-bottom-color;
          cursor: default;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .tools {
    background-color: $tools-bg;
    .scroll-area {
      display: flex;
      padding: 3px 5px 1px 5px;
      overflow-x: scroll;
      .col {
        height: 100%;
        .tool {
          width: 96px;
          text-align: center;
          cursor: pointer;
          background-color: $item-bg;
          border: thin solid darken($item-bg, $border-darken);
          border-radius: 4px;
          padding: 10px;
          box-sizing: border-box;
          margin: 8px 4px;
          .icon {
            width: $icon-size;
            height: $icon-size;
            border-radius: 4px;
            margin: auto;
          }
          .name {
            font-size: 12px;
            font-weight: $title-weight;
            text-align: center;
            margin: 1px 0 3px 0;
          }
          .stars {
            text-align: center;
            img {
              height: $star-size;
            }
          }
        }
        .tool:hover {
          background-color: darken($item-bg, 8%);
          border: thin solid darken($item-bg, 8% + $border-darken);
        }

        .tool:active {
          background-color: darken($item-bg, 12%);
          border: thin solid darken($item-bg, 12% + $border-darken);
        }
      }
    }
  }

  .details {
    padding: 20px;
    box-sizing: border-box;
    .top {
      display: flex;
      margin-bottom: 20px;
      .icon {
        width: $detail-icon-size;
        height: $detail-icon-size;
        border-radius: 2px;
        margin-right: 6px;
      }
      .title {
        line-height: $detail-icon-size;
        font-weight: $title-weight;
        font-size: $title-size;
      }
    }
    .body {
      padding: 0 1px;
    }
  }

  .tools, .details {
    width: 50%;
  }

  .transition-wrapper {
    overflow: hidden;
  }

  .transition-group {
    width: 200%;
  }

  .tool-enter {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-enter.tool-enter-active {
    &.tools {
      transform: translate(0, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }

  .tool-leave {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(-100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-leave.tool-leave-active {
    &.tools {
      transform: translate(-200%, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }
}