@import "../../styles/utils";
@import "../../styles/fonts";

:local(.container) {
  @include no-select();
  font-size: 13px;
  background-color: #005;
  color: #47F;
  font-family: $code-font;
  padding: 0 5%;
  height: 100%;

  .controls {
    width: 96%;
    margin: 0 auto;
    padding: 27px 0 8px 0;
    text-align: center;
    display: flex;
    .icon {
      display: block;
      flex: 1;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .icon:active {
      opacity: 0.5;
    }
  }
  .current-track {
    width: 90%;
    margin: 10px auto;
  }
  .time-slider {
    padding: 5%;
    .rc-slider {
      background-color: #03C;
      cursor: pointer;
    }
    .rc-slider-track {
      background-color: #47F;
    }
  }
  .time {
    margin: 10px auto;
    text-align: center;
  }

  .play:after {
    font-icon: url('fonts/icons/play.svg');
  }

  .pause:after {
    font-icon: url('fonts/icons/pause.svg');
  }

  .stop:after {
    font-icon: url('fonts/icons/stop.svg');
  }

  .step-backward:after {
    font-icon: url('fonts/icons/step_backward.svg');
  }

  .step-forward:after {
    font-icon: url('fonts/icons/step_forward.svg');
  }
}