@import "bourbon";
@import "../../styles/fonts";
@import "../../styles/utils";
@import "../../styles/colors";

:local(.window) {
  @include background-image(linear-gradient(to bottom,
          $desktop-window-bg-color-top, $desktop-window-bg-color-bottom));
  box-shadow: 0 2px 6px black;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  cursor: move;
  display: flex;
  flex-direction: column;

  .toolbar {
    @include no-select();
    @include no-highlight();
    $icon-size: 12px;
    height: $icon-size;
    padding-bottom: 8px;
    position: relative;
    width: 100%;
    .buttons {
      display: flex;
      position: absolute;
      z-index: 100;
      img {
        display: block;
        width: $icon-size;
        height: $icon-size;
        cursor: pointer;
      }
      &.left {
        img {
          margin: 0 6px 0 2px;
        }
      }
      &.right {
        right: 0;
        img {
          margin: 0 2px 0 6px;
        }
      }
    }
    .title {
      color: $desktop-window-title-color;
      font-size: 12px;
      text-align: center;
    }

    .share-window {
      $border-radius: 4px;
      color: #111;
      width: 110px;
      border-radius: $border-radius !important;
      opacity: 1 !important;
      pointer-events: auto !important;
      padding: 0 0 5px 0 !important;
      .share-title {
        background-color: #BBB;
        font-weight: 500;
        text-align: center;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: 5px 0;
        margin-bottom: 4px;
      }
      .item {
        color: inherit;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        padding: 4px 10px;
        img {
          height: 14px;
          margin-right: 6px;
        }
      }
      .item:hover {
        background-color: #e6f3ff;
      }
    }
  }

  .body {
    overflow: hidden;
    cursor: default;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex: 1 1;
    border: 1px solid $desktop-window-bg-color-bottom;
    border-radius: 0;
  }
}

:local(.window).Editor {
  height: 400px;
  width: 420px;
}

:local(.window).Terminal {
  height: 240px;
  width: 320px;
}

:local(.window).Dialer {
  height: 180px;
  width: 320px;
}

:local(.window).Map {
  height: 300px;
  width: 400px;
}

:local(.window).Music {
  height: 200px;
  width: 200px;
}

:local(.window).PDF {
  height: 640px;
  width: 478px;
}

:local(.window).Tools {
  height: 332px;
  width: 542px;
}

:local(.window).Mobile {
  height: 480px;
  width: 310px;
}

:local(.window).Social {
  height: 295px;
  width: 312px;
}

:local(.window).Email {
  height: 270px;
  width: 305px;
}

:local(.window).Projects {
  height: 260px;
  width: 360px;
}