@import "bourbon";
@import "../../styles/utils";
@import "../../styles/colors";

$icon-size: 56px;
$detail-icon-size: 36px;
$star-size: 12px;

$border-darken: 15%;
$title-size: 15px;
$title-weight: bold;

:local(.container) {
  @include no-select();
  @include show-scroll($desktop-tools-bg-color);
  background-color: $desktop-tools-bg-color;

  .scroll-area {
    white-space: nowrap;
    display: flex;
    padding: 0 3px 0 5px;
  }

  .col {
    flex: 1 0 auto;
    max-width: 104px;
    height: 100%;
    a {
      color: inherit;
      text-decoration: none;
    }
    .tool {
      display: block;
      width: 96px;
      text-align: center;
      cursor: pointer;
      background-color: $desktop-tools-item-bg-color;
      border: thin solid darken($desktop-tools-item-bg-color, $border-darken);
      border-radius: 4px;
      padding: 10px;
      box-sizing: border-box;
      &:first-child {
        margin: 1px 4px 8px 4px;
      }
      &:last-child {
        margin: 1px 4px 5px 4px;
      }
      .icon {
        width: $icon-size;
        height: $icon-size;
        border-radius: 4px;
        margin: auto;
      }
      .name {
        font-size: 12px;
        font-weight: $title-weight;
        text-align: center;
        margin: 1px 0 3px 0;
      }
      .stars {
        text-align: center;
        img {
          height: $star-size;
        }
      }
    }

    &:last-child {
      padding-right: 5px;
    }

    .tool:hover {
      background-color: darken($desktop-tools-item-bg-color, 6%);
      border: thin solid darken($desktop-tools-item-bg-color, 6% + $border-darken);
    }

    .tool:active {
      background-color: darken($desktop-tools-item-bg-color, 10%);
      border: thin solid darken($desktop-tools-item-bg-color, 10% + $border-darken);
    }
  }
}