:local(.container) {
  font-family: Helvetica, sans-serif;
  width: 100%;

  .transition-wrapper {
    overflow: hidden;
  }

  .transition-group {
    width: 200%;

    .tool-enter,
    .tool-leave,
    .tool-enter.tool-enter-active,
    .tool-leave.tool-leave-active {
      float: left;
    }
  }

  .tool-enter {
    transform: translateX(100%);
    background-color: blue;
  }

  .tool-enter.tool-enter-active {
    transform: translateX(0);
    transition: all 1s;
  }

  .tool-leave {
    transform: translateX(0);
  }

  .tool-leave.tool-leave-active {
    transform: translateX(-200%);
    transition: all 1s;
  }

  .back {
    .tool-enter {
      transform: translateX(-100%);
    }
    .tool-enter.tool-enter-active {
      transform: translateX(0);
    }
    .tool-leave {
      transform: translateX(-100%);
    }
    .tool-leave.tool-leave-active {
      transform: translateX(0);
    }
  }
}