@import "bourbon";
@import '../../styles/utils';
@import '../../styles/colors';
@import '../../styles/dimens';

:local(.container) {
  position: relative;
  width: 100%;
  height: 100%;

  > * {
    position: absolute;
    z-index: 15;
  }

  > .menu, > .bottom {
    left: 0;
    right: 0;
  }

  > .menu {
    @include no-select();
    height: $desktop-menu-height;
    font-size: $medium-text-size;
    color: $desktop-menu-fg-color;

    background-color: $desktop-menu-bg-color;
    border-bottom: 1px solid $desktop-menu-border-color;

    .logo, .left > *, .right > * {
      padding: 0 9px;
    }

    .left > *, .right > * {
      line-height: $desktop-menu-height;
    }

    .logo, .left > * {
      cursor: pointer;

      &.active {
        background-color: $desktop-menu-active-bg-color;
        color: white;
      }
    }

    .logo {
      float: left;
      padding-top: 4px;
      padding-bottom: 1px;
      img {
        width: 18px;
        height: 18px;
      }
    }

    .left, .right {
      width: 40%;
    }

    .left {
      float: left;
      display: flex;
    }

    .right {
      padding-right: 10px;
      float: right;
      text-align: right;

      .time {

      }
    }

    .dropdown {
      position: absolute;
      z-index: 3;
      left: 100px;  // TODO: Depends on menu position
      top: $desktop-menu-height;
      width: 200px;
      @include background-image(linear-gradient(to bottom,
                         $desktop-menu-bg-color, rgba(255, 255, 255, 0.5)));
      box-shadow: 0 1px 2px black;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 2px 5px 1px 15px;
      a {
        text-decoration: none;
        color: $desktop-menu-fg-color;
      }
    }
  }

  > .left, > .right {
    @include background-image(linear-gradient(to bottom, #F2F2F2, #999));
    width: $desktop-frame-width;
    height: 100%;
    top: $desktop-menu-height;
  }
  > .left {
    left: 0;
  }
  > .right {
    right: 0;
  }
  > .bottom {
    background-color: #999;
    height: $desktop-frame-width;
    bottom: 0;
  }
}