$icon-size: 72px;

:local(.container) {
  background-color: #FFF;
  padding: 40px 20px;
  box-sizing: border-box;
  height: 100%;
  font-size: 1.125em;
  text-align: center;
  .icons {
    display: flex;
    flex-direction: row;
  }
  .icon {
    color: inherit;
    margin: 30px auto;
    text-decoration: none;
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
    img {
      width: $icon-size;
      height: $icon-size;
    }
    .text {
      font-weight: 500;
      padding-top: 5px;
    }
    opacity: 0.67;
  }

  .icon:hover {
    opacity: 1;
  }

  .icon:active {
    opacity: 0.5;
  }
}