:local(.container) {
  font-family: Helvetica, sans-serif;
  width: 100%;

  .transition-wrapper {
    position: relative;
  }

  .transition-group {
    width: 100%;

    .tool-enter,
    .tool-leave,
    .tool-enter.tool-enter-active,
    .tool-leave.tool-leave-active {
      position: absolute;
      width: 100%;
    }
  }

  .forward, .top, .back {
    .tool-enter.tool-enter-active, .tool-leave.tool-leave-active {
      transition: all 1s;
    }
  }

  .switch {
    .tool-enter.tool-enter-active, .tool-leave.tool-leave-active {
      transition: all 500ms;
    }
  }

  .forward {
    .tool-enter {
      left: 100%;
    }

    .tool-enter.tool-enter-active {
      left: 0;
    }

    .tool-leave {
      right: 0;
    }

    .tool-leave.tool-leave-active {
      right: 100%;
    }
  }

  .top, .back {
    .tool-enter {
      right: 100%;
    }
    .tool-enter.tool-enter-active {
      right: 0;
    }
    .tool-leave {
      left: 0;
    }
    .tool-leave.tool-leave-active {
      left: 100%;
    }
  }

  .switch {
    .tool-enter {
      opacity: 0;
    }
    .tool-enter.tool-enter-active {
      opacity: 1;
    }
    .tool-leave {
      opacity: 1;
    }
    .tool-leave.tool-leave-active {
      opacity: 0
    }
  }

}