$icon-size: 50px;

:local(.container) {
  background-color: #FFF;
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
  height: 100%;
  .icon {
    float: left;
    margin: 30px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
    img {
      width: $icon-size;
      height: $icon-size;
    }
    .text {
      font-weight: bold;
      padding-top: 5px;
    }
    opacity: 0.8;
  }

  .icon:hover {
    opacity: 1;
  }
}