@import "bourbon";
@import "../../styles/utils";

$icon-size: 56px;
$detail-icon-size: 36px;
$star-size: 12px;
$tools-bg: #F2F1F0;
$item-bg: #FCFBFC;
$border-darken: 15%;
$title-size: 15px;
$title-weight: 700;
$header-top-color: #7946a1;
$header-bottom-color: #a343a4;

:local(.container) {
  font-family: Helvetica, sans-serif;
  width: 200%;

  .header {
    @include background-image(linear-gradient(to bottom, $header-top-color, $header-bottom-color));
    @include no-select();
    color: $item-bg;
    padding: 10px 0;
    .title {
      padding: 10px 0;
      font-weight: $title-weight;
      font-size: $title-size;
      text-align: center;
    }
    .categories {
      padding-left: 9px;
      display: flex;
      > * {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 3px 6px;
        margin-right: 3px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &.current {
          background-color: $item-bg;
          border-radius: 2px;
          color: $header-bottom-color;
          cursor: default;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .tools {
    @include no-select();
    background-color: $tools-bg;
    .scroll-area {
      display: flex;
      padding: 3px 5px 1px 5px;
      overflow-x: scroll;
      .col {
        flex: 1 0 auto;
        max-width: 104px;
        height: 100%;
        a {
          color: inherit;
          text-decoration: none;
        }
        .tool {
          width: 96px;
          text-align: center;
          cursor: pointer;
          background-color: $item-bg;
          border: thin solid darken($item-bg, $border-darken);
          border-radius: 4px;
          padding: 10px;
          box-sizing: border-box;
          margin: 8px 4px;
          .icon {
            width: $icon-size;
            height: $icon-size;
            border-radius: 4px;
            margin: auto;
          }
          .name {
            font-size: 12px;
            font-weight: $title-weight;
            text-align: center;
            margin: 1px 0 3px 0;
          }
          .stars {
            text-align: center;
            img {
              height: $star-size;
            }
          }
        }
        .tool:hover {
          background-color: darken($item-bg, 6%);
          border: thin solid darken($item-bg, 6% + $border-darken);
        }

        .tool:active {
          background-color: darken($item-bg, 10%);
          border: thin solid darken($item-bg, 10% + $border-darken);
        }
      }
    }
  }
  .details {
    padding: 35px;
    box-sizing: border-box;
    .title {
      margin-bottom: 20px;
      font-weight: $title-weight;
      font-size: $title-size + 3px;
    }
    .body {
      padding-right: 10px;
      line-height: 1.45em;
      a {
        color: #4670d3;
        font-weight: $title-weight;
        cursor: pointer;
        text-decoration: none;
        * {
          font-weight: inherit;
        }
      }
      a:hover, a:hover * {
        text-decoration: underline;
      }
    }
  }

  .tools, .details {
    width: 50%;
  }

  .transition-wrapper {
    overflow: hidden;
  }

  .transition-group {
    width: 200%;
  }

  .tool-enter {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-enter.tool-enter-active {
    &.tools {
      transform: translate(0, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }

  .tool-leave {
    &.tools {
      transform: translate(-100%, 0);
    }
    &.details {
      transform: translate(-100%, 0);
    }
    width: 50%;
    float: left;
  }

  .tool-leave.tool-leave-active {
    &.tools {
      transform: translate(-200%, 0);
    }
    &.details {
      transform: translate(0, 0);
    }
    transition: all 1s;
    width: 50%;
    float: left;
  }

  /* When one details is replacing another details */
  .details + .tool-leave.details {
    transform: translate(-100%, 0);
  }
  .details + .tool-leave.tool-leave-active.details {
    transform: translate(-200%, 0);
  }

  .back {
    .tool-leave.details {
      transform: translate(-100%, 0);
    }
    .tool-leave.tool-leave-active.details {
      transform: translate(0, 0);
    }
    .tool-enter.details {
      transform: translate(-100%, 0);
    }
    .tool-enter.tool-enter-active.details {
      transform: translate(0, 0);
    }
  }
}