@import "bourbon";
@import "../../styles/utils";
@import "../../styles/dimens";
@import "../../styles/colors";

:local(.container) {
  @include background-image(linear-gradient(to bottom,
          darken($desktop-tools-bg-color, 10%), $desktop-tools-bg-color));
  @include no-select();
  color: #252525;
  padding: 13px 0 11px 0;
  .categories {
    padding-left: 9px;
    padding-right: 8px;
    display: flex;
    > * {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 5px 5px 4px 5px;
      margin-right: auto;
      cursor: pointer;
      border: thin solid transparent;
      &:hover {
        text-decoration: underline;
      }
      &.active-header-item {
        border-color: rgba(0, 0, 0, 0.2875);
        border-radius: 3px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}