@import "bourbon";
@import '../../styles/utils';
@import '../../styles/dimens';

:local(.container) {
  position: relative;
  width: 100%;
  height: 100%;

  > * {
    position: absolute;
    z-index: 2;
  }

  > .menu, > .bottom {
    left: 0;
    right: 0;
  }

  > .menu {
    @include no-select();
    height: $desktop-menu-height;
    font-size: $medium-text-size;
    color: #222;

    background-color: #F2F2F2;

    .logo, .left > *, .right > * {
      padding: 0 9px;
    }

    .left > *, .right > * {
      line-height: $desktop-menu-height;
    }

    .logo, .left > * {
      cursor: pointer;

      &:active {
        background-color: #0088e7;
        color: white;
      }
    }

    .logo {
      float: left;
      padding-top: 4px;
      padding-bottom: 1px;
      img {
        width: 18px;
        height: 18px;
      }
    }

    .left, .right {
      width: 40%;
    }

    .left {
      float: left;
      display: flex;
    }

    .right {
      padding-right: 10px;
      float: right;
      text-align: right;

      .time {

      }
    }
  }

  > .left, > .right {
    @include background-image(linear-gradient(to bottom, #F2F2F2, #999));
    width: $desktop-frame-width;
    height: 100%;
    top: $desktop-menu-height;
  }
  > .left {
    left: 0;
  }
  > .right {
    right: 0;
  }
  > .bottom {
    background-color: #999;
    height: $desktop-frame-width;
    bottom: 0;
  }
}