@import "bourbon";
@import '../../styles/utils';
@import '../../styles/colors';
@import '../../styles/dimens';

$dropdown-border-radius: 6px;

:local(.container) {
  &, .submenu {
    position: absolute;
    z-index: 3;
    top: $desktop-menu-height;
    width: 180px;
    @include background-image(linear-gradient(to bottom,
                              $desktop-menu-bg-color-2,
                              transparentize($desktop-menu-bg-color-2, 0.05)));
    color: $desktop-menu-fg-color;
    box-shadow: 0 1px 2px black;
    border-bottom-left-radius: $dropdown-border-radius;
    border-bottom-right-radius: $dropdown-border-radius;
    padding: 5px 0;

    .item {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: inherit;

      &:hover {
        background-color: lighten($desktop-menu-active-bg-color, 10%);
        color: white;
      }

      .current:after {
        content: 'current';
        font-weight: 500;
        display: block;
        float: right;
        padding-right: 10px;
      }
    }
  }

  .submenu {
    border-top-left-radius: $dropdown-border-radius;
    border-top-right-radius: $dropdown-border-radius;
  }
}