@import '../../styles/fonts';

:local(.container) {
  font-family: $code-font;

  .title {
    //color: #6A8759;
    color: #FFC66D;
  }

  /*
  .key {
    color: #FFC66D;
  }
  */

  .symbol {
    color: #CC7832;
  }

  .tooltip {
    font-size: 0.67rem;
    max-width: 320px;
    div {
      padding: 3px 0;
    }
  }

  a {
    color: #6897BB;
    text-decoration: none;
  }
}