@import '../../styles/utils';

$btn-size: 36px;
$btn-margin: 20px;

:local(.container) {
  @include no-select();

  img {
    @include no-drag();
  }

  .resume {
    width: 476px;
    height: 616px;
  }

  .btn {
    position: absolute;
    cursor: pointer;
    font-size: $btn-size;
    color: #BBB;
    text-decoration: none;
  }

  .btn:hover {
    color: #D33;
  }

  .btn:active {
    color: #D00;
  }
  
  .download {
    top: $btn-margin;
    right: $btn-margin;
  }
  
  .new-window {
    top: $btn-size + $btn-margin * 1.5;
    right: $btn-margin;
  }

  .download-icon:after {
    font-icon: url('fonts/icons/download.svg');
  }

  .new-window-icon:after {
    font-icon: url('fonts/icons/new_window.svg');
  }
}