@import "bourbon";
@import "../../styles/utils";

$dashboard-icon-size: 52px;

:local(.container) {
  @include no-select();
  .section {
    margin: 26px 0 10px 0;
    .title {
      font-size: 13px;
      line-height: 10px;
      margin: 11px 0;
      color: #444;
    }
    .title::before {
      content: '\00a0';
    }
    .title::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      @include background-image(linear-gradient(to right, rgba(150, 150, 150, 1), rgba(150, 150, 150, 0)));
    }
    .items {
      display: flex;
      margin-left: 18px;
      .item {
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin-right: 36px;
        .icon {
          width: $dashboard-icon-size;
          height: $dashboard-icon-size;
          border-radius: 4px;
          display: block;
        }
        .name {
          text-align: center;
          font-size: 13px;
          color: #222;
          font-weight: 700;
        }
        opacity: 0.88;
      }
      .item:hover {
        @include filter(brightness(1.1));
        opacity: 1;
      }
      .item:active {
        @include filter(brightness(0.9));
      }
    }
  }
}