@import "bourbon";
@import "../../styles/utils";
@import "../../styles/dimens";
@import "../../styles/colors";
$icon-size: 54px;

:local(.container) {
  @include no-select();
  width: 100%;
  flex: 1 1;
  padding: 20px 10px;
  box-sizing: border-box;

  background: url('../../../img/mobile_wallpaper.svg') repeat left top,
              linear-gradient(to bottom, #393939, #333, #222);
  background-size: 6px 6px, cover;

  .icon {
    display: inline-block;
    font-size: $mobile-home-screen-text-size;
    font-weight: 400;
    color: $mobile-home-screen-fg-color;
    text-align: center;
    width: 25%;
    height: $icon-size;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      display: block;
      margin-bottom: 3px;
    }

    img:active {
      @include filter(brightness(0.75));
    }
  }
}

:local(.nav) {
  background-color: transparent !important;
  border-color: transparent !important;
  color: $mobile-home-screen-fg-color !important;
  font-weight: 400 !important;
  .time {
    font-weight: 500 !important;
  }
  position: absolute;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}