@import "bourbon";
@import "../../styles/utils";
$icon-size: 54px;

:local(.container) {
  @include no-select();
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  background-image: url('../../../img/mobile_wallpaper.jpg');
  background-size: cover;

  .icon {
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: white;
    text-align: center;
    width: $icon-size;
    height: $icon-size;
    text-decoration: none;
    margin: 9px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      display: block;
      margin-bottom: 3px;
    }

    img:active {
      @include filter(brightness(0.75));
    }
  }
}