@import '../../styles/colors';
@import '../../styles/utils';
@import '../../styles/dimens';

:local(.container) {
  @include no-select();
  font-size: $large-text-size;
  width: 100%;
  background-color: $default-mobile-bg-color;
  padding: 4px;
  box-sizing: border-box;
}