@import "../../styles/utils";

$list-item-icon-size: 32px;
$bg-color: white;

:local(.container) {
  padding: 2px;

  > .inner-container {
    text-decoration: none;
    padding: 8px;
    display: flex;
    flex-direction: row;
    background-color: $bg-color;
    border: thin solid darken($bg-color, 15%);
    border-radius: 4px;
    cursor: pointer;
    color: #222;

    .icon {
      width: $list-item-icon-size;
      height: $list-item-icon-size;
      border-radius: 2px;
      display: block;
      margin-right: 10px;
    }
    .name {
      line-height: $list-item-icon-size;
    }

    @include no-highlight();

    &:active {
      background-color: darken($bg-color, 7%);
      border: thin solid darken($bg-color, 18%);
    }
  }
}