@import '../../styles/colors';
@import '../../styles/utils';

:local(.container) {
  @include no-select();
  width: 100%;
  height: 100%;
  background-color: $default-mobile-bg-color;
  padding: 4px;
  box-sizing: border-box;
}