$list-item-icon-size: 32px;

:local(.container) {
  padding: 8px;
  margin: 4px;
  display: flex;
  background-color: white;
  border: thin solid #DDD;
  border-radius: 4px;
  color: #222;
  text-decoration: none;
  .icon {
    width: $list-item-icon-size;
    height: $list-item-icon-size;
    border-radius: 2px;
    display: block;
    margin-right: 10px;
  }
  .name {
    line-height: $list-item-icon-size;
  }
}