@import '../../styles/colors';
@import "../../styles/utils";
@import "../../styles/dimens";

$top-bar-height: 22px;
$nav-height: 40px;

$font-size: $larger-text-size;

:local(.container) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-bar, .nav {
    background-color: $mobile-nav-bg-color;
    @include no-select();
  }

  .top-bar {
    font-size: 10px;
    font-weight: 500;
    height: $top-bar-height;
    line-height: $top-bar-height;
    display: flex;
    border-bottom: 1px solid $mobile-nav-bg-color;
    padding: 0 6px;
    .icon {
      margin-left: 4px;
    }
    .network, .battery-container {
      width: 30%;
    }
    .network {
      display: flex;
      .icon {
        font-size: 11px;
        line-height: $top-bar-height - 2px;
      }
    }
    .time {
      flex: 1 1;
      text-align: center;
    }
    .battery-container {
      * {
        float: right;
      }
      .battery {
        font-size: 22px;
        line-height: $top-bar-height;
      }
    }
  }

  .nav {
    font-size: $font-size;
    height: $nav-height;
    padding: 0 6px;
    border-bottom: thin solid $mobile-nav-border-color;
    .back, .title {
      margin: 0;
      font-size: inherit;
      line-height: $nav-height;
    }
    .back {
      color: $link-color;
      position: absolute;
      .link {
        display: flex;
      }
      a, a:hover, a:active, a:visited {
        font-weight: 400;
        text-decoration: none;
        color: inherit;
      }
      .chevron-left {
        display: block;
        line-height: inherit;
        margin: 0 2px 0 3px;
      }
      .text {
        font-size: $title-size;
      }
    }
    .title {
      width: 100%;
      text-align: center;
      font-size: $x-large-text-size;
    }
  }

  .content {
    width: 100%;
    flex: 1 1;
    display: flex;
    background-color: $default-mobile-bg-color;
  }

  .battery:after {
    font-icon: url('fonts/icons/battery.svg');
  }

  .wifi:after {
    font-icon: url('fonts/icons/wifi.svg');
  }
}