@import "../../styles/utils";
@import "../../styles/colors";
@import "../../styles/dimens";
@import "../../styles/mixins";

$color: darken(#EEDD00, 7%);

:local(.container) {
  padding: 15px;
  font-size: $large-text-size;

  @include link-style(bold);

  .title {
    display: block;
    margin-bottom: 2px;
  }
}

:local(.nav) {
  background-color: $default-mobile-bg-color !important;
  border-color: $default-mobile-bg-color !important;
  .back {
    color: $color !important;
  }
}