@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/dimens';

$star-size: 16px;

:local(.container) {
  display: flex;
  flex-direction: column;
  font-size: $mobile-body-text-size;
  width: 100%;
  height: 100%;

  .heading, .description {
    padding: 20px;
  }

  .heading {
    display: flex;
    background-color: white; //$mobile-nav-bg-color;
    border-bottom: thin solid #CCC;
    .icon {
      border-radius: 8px;
      margin-right: 10px;
      img {
        width: 72px;
        height: 72px;
      }
    }
    .title {
      font-size: 15px;
      margin-top: 9px;
      margin-bottom: 14px;
    }

    .skill {
      display: flex;
      .label {
        margin-right: 1ex;
        line-height: $star-size + 3px;
      }
      .stars {
        img {
          width: $star-size;
          height: $star-size;
        }
      }
    }
  }

  .description {
    flex: 1 1 auto;
    line-height: 1.45em;
    background-color: $default-mobile-bg-color;
    @include link-style()
  }
}