@import '../../styles/colors';
@import "../../styles/utils";

$top-bar-height: 20px;
$nav-height: 40px;
$font-size: 15px;

:local(.container) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-bar, .nav {
    background-color: $mobile-nav-bg-color;
    @include no-select();
  }

  .top-bar {
    font-size: 10px;
    font-weight: 500;
    height: $top-bar-height;
    line-height: $top-bar-height;
    display: flex;
    padding: 0 6px;
    i {
      margin-left: 3px;
    }
    .network, .battery {
      width: 30%;
    }
    .network {
      display: flex;
      i {
        font-size: 12px;
        line-height: 22px;
      }
    }
    .time {
      flex: 1 1;
      text-align: center;
    }
    .battery {
      * {
        float: right;
      }
      i {
        font-size: 14px;
        line-height: $top-bar-height;
      }
    }
  }

  .nav {
    font-size: $font-size;
    height: $nav-height;
    padding: 0 6px;
    border-bottom: thin solid darken($mobile-nav-bg-color, 7%);
    display: flex;
    .back, .title {
      margin: 0;
      font-size: inherit;
    }
    .back {
      color: $link-color;
      line-height: $nav-height - 4;
      position: absolute;
      .link {
        display: flex;
      }
      a, a:hover, a:active, a:visited {
        font-weight: 400;
        text-decoration: none;
        color: inherit;
      }
      .fa-chevron-left {
        font-weight: 100;
        display: block;
        line-height: inherit;
        margin-right: 3px;
      }
      .text {
        font-size: round($font-size * 0.9);
      }
    }
    .title {
      line-height: $nav-height - 4;
      width: 100%;
      text-align: center;
    }
  }

  .content {
    width: 100%;
    flex: 1 1;
    display: flex;
    background-color: $default-mobile-bg-color;
  }
}