:local(.container) {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;

  .heading, .description {
    padding: 15px;
  }

  .heading {
    display: flex;
    background-color: #F9F9F9;
    border-bottom: thin solid #CCC;
    .icon {
      border-radius: 8px;
      margin-right: 10px;
      img {
        width: 72px;
        height: 72px;
      }
    }
    .title {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .description {
    flex: 1 1 auto;
    line-height: 1.45em;
    background-color: #EBEBEB;
    a {
      color: #4670d3;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      * {
        font-weight: inherit;
      }
    }
    a:hover, a:hover * {
      text-decoration: underline;
    }
  }
}