@import "../../styles/utils";
@import "../../styles/colors";
@import "../../styles/dimens";

$color: darken(#EEDD00, 7%);

:local(.container) {
  padding: 15px;
  font-size: $mobile-body-text-size;

  .title {
    font-weight: bold;
    margin-bottom: 1px;
  }
}

:local(.nav) {
  background-color: $default-mobile-bg-color !important;
  border-color: $default-mobile-bg-color !important;
  .back {
    color: $color !important;
  }
}